<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689851601509-f6g4lt1gqeljids49c53dfpgv3hvnmsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689851601509-f6g4lt1gqeljids49c53dfpgv3hvnmsg</string>
	<key>API_KEY</key>
	<string>AIzaSyACYIdJegsth5ie8qZ6-uWGuK2dxcSkSm8</string>
	<key>GCM_SENDER_ID</key>
	<string>689851601509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gurgen.Store</string>
	<key>PROJECT_ID</key>
	<string>storeapp-155a0</string>
	<key>STORAGE_BUCKET</key>
	<string>storeapp-155a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689851601509:ios:babaf33017e4d381a52c8c</string>
</dict>
</plist>